@import "./core.less";
@import "./variables.less";

.loadingBox {
    padding: 1.5rem;
    border-radius: 5px;
    background-image: url('https://www.toptal.com/designers/subtlepatterns/patterns/interlaced.png');
    background-size: cover;
    box-sizing: border-box;

    .progress-bar {
        margin: 10px 0px;
        height: 50px;
        width: 400px;
        background-color: @colour-light;
        box-sizing: border-box;
    }

    .filler {
        background: @colour-main;
        height: 100%;
        border-radius: inherit;
        transition: width 1s ease-in;
        box-sizing: border-box;
        padding: 10px;
        overflow: visible;
    }
}

