@import "./core.less";
@import "./variables.less";

.questionBox {
    width: 60%;
    height: 60%;
    background-color: @colour-grey;
    border-radius: 5px;
}

#questionNumbers {
    list-style-type: none;
}